---
import type { Props } from '@astrojs/starlight/props';
import Search from '@astrojs/starlight/components/Search.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
---

<header>
  <div class="sl-nav-container">
    <div class="left-group">
      <a href="/" class="site-title">
        <img
          src="/favicon.svg"
          class="logo"
          alt="Nearlink Logo"
        />
        <span>星闪工具箱</span>
      </a>
      <div class="search-item">
        <Search {...Astro.props} />
      </div>
    </div>
    <div class="sl-nav-items">
      <SocialIcons {...Astro.props} />
      <ThemeSelect {...Astro.props} />
    </div>
  </div>
</header>

<style>
  .site-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 2.5rem;
  }

  .logo {
    height: 2rem;
    width: auto;
  }

  .site-title span {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
  }
</style> 